.outer-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   color: #fff;
}

.inner-container {
   width: min(700px, 80%);
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 5rem;
}

.heading {
   text-align: center;
   font-size: 4.2rem;
}

.heading span {
   background: linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
}

.heading + p {
   font-size: 1.8rem;
   text-align: center;
   line-height: 2.5rem;
}

.heading + p  span {
   color: hsl(7, 86%, 67%);
}

.profile-container {
   position: relative;
   width: min(600px, 95%);
   margin-top: 5rem;
}

.background {
   width: 100%;
}

.main-profile {
   position: absolute;
   height: 100%;
   top: 1rem;
   left: 1rem;
   display: flex;
   flex-direction: column;
   gap: 4rem;
   justify-content: center;
   width: 70%;
}

.address-container {
   display: flex;
   gap: 2rem;
}

.img {
   width: 3rem;
   height: 3rem;
}

.profile-image {
   width: 6rem;
   height: 6rem;
}

.firstPara {
   font-size: 3rem;
}

.addressText {
   font-size: 1.6rem;
   margin-bottom: .5rem;
}

.address-container-last {
   display: flex;
   gap: 3rem;
   align-items: center;
}

.hash-number {
   font-size: 2.5rem;
   color: #8478A1;
   font-weight: bold;
   position: absolute;
   top: 50%;
   right: 0;
   transform: translate(-50%, -50%) rotate(90deg);
}

@media screen and (max-width: 1300px) {
   .firstPara {
      font-size: 2rem;
   }

   .addressText {
      font-size: 1.8rem;
   }

   .main-profile {
      gap: 6rem;
   }
}

@media screen and (max-width: 768px) {

   .main-profile {
      gap: 2rem;
      top: 0;
   }

   .firstPara {
      font-size: 1.5rem;
   }

   .addressText {
      font-size: 1.1rem;
   }

   .profile-image {
      width: 4rem;
      height: 4rem;
   }

   .address-container-last {
      gap: 1.5rem;
   }

   .hash-number {
      font-size: 1.5rem;
      color: #8478A1;
      font-weight: bold;
      position: absolute;
      top: 50%;
      right: 5%;
      transform: rotate(90deg);
   }
   
}

